# Configuration du serveur
PORT=5000
NODE_ENV=development

# Connexion Base de Données MongoDB
MONGODB_URI=mongodb+srv://stela:aIeN9vygvP8oxjxm@stela.jpxlz6u.mongodb.net/?appName=stela
# Autorisation CORS
CORS_ORIGIN=http://localhost:5176